// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$textColor: #5BC0DE; //#edf2f8; --> light blue grey
$lightGrey: #8C8C8C;
$standardMargin: 20px;
